body{
    background: #212121;
    color: #939090;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    /* gap: 30px; */
}

h1{
    font-size: 2.5rem;
}

.parent_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2b2626;
    border-radius: 30px;
    padding: 30px 0px;
}

.info{
    text-align: center;
    
}


form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50vw;
}

input{
    display: inline-block;
    width: 60%;
    border: none;
    outline: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    border-radius: 10px 0px 0px 10px;
    background-color: #c1bebe;
    margin-top: 1rem;
    
}

.btn{
    padding: 1rem 2.5rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    font-size: 1rem;
    background-color: #ddd8d8;
    cursor: pointer;
}

.prev_guess{
    margin: 0;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 1.2rem;
}

.rem_guess{
    margin-top: 0;
    padding: 5px;
    font-size: 1.2rem;
}
.answer{
    display: none;
    margin: 0;
    margin-top: 20px;
    padding-top: 5px;
    font-size: 1.4rem;
}